/*
div {
    outline: 2px dotted yellow;
}
*/
.rum {
    background-image: url("grafik/room.jpg");
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
}
.bord {
    background-image: url("grafik/bord.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 28vw;
    height: 23vw;
}
.stol {
    background-image: url("grafik/chair.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 24.6vw;
}
.skaal {
    background-image: url("grafik/skaal.png");
    background-size: 100%;
    width: 8vw;
    height: 3.1vw;
}
.kvinde {
    background-image: url("grafik/kvinde.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 37.8vw;
}
.mand {
    background-image: url("grafik/mand.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 38.6vw;
}
